asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
codecov==2.1.12
colorama==0.4.4
coverage==6.0.1
Django==3.2.7
django-cors-headers==3.10.0
django-filter==21.1
djangorestframework==3.12.4
httpie==2.5.0
idna==3.2
more-itertools==8.10.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.4.0
pytz==2021.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.7
wcwidth==0.2.5
